<div id="<%= dom_id tournament %>">
  <p>
    <strong>Idtournament:</strong>
    <%= tournament.idtournament %>
  </p>

  <p>
    <strong>Tournament name:</strong>
    <%= tournament.tournament_name %>
  </p>

  <p>
    <strong>Prizepool:</strong>
    <%= tournament.prizepool %>
  </p>

</div>
